.contenedorRutinaEjercicios{
    display: flex;
    width: 100%;
}
.contenedorEjercicios{
    background-color: grey ;
    color: whitesmoke;
}
.listadoFinal{
    background-color: lightgrey;
    color: black;
}